* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  height: 54px;
  background-color: #1BC1C4;
}

.headertextbox {
  width: 100%;
  position: absolute;
  bottom: 268px;
}

.headertext {
  font-size: 17px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
}

#softkeys {
  position: fixed; bottom: 0; left: 0; width: 100%; height: 30px;
  background: #dadada;
  padding: 3px 5px;
}

#softkeys-black {
  position: fixed; bottom: 0; left: 0; width: 100%; height: 30px;
  background: #000000;
  padding: 3px 5px;
}

#softkeys > * {
  display: inline-block;
  font-family: "Open Sans";
  width: 72px;
  padding: 0 5px;
  color: #323232;
}

#softkeys-black > * {
  display: inline-block;
  font-family: "Open Sans";
  width: 72px;
  padding: 0 5px;
  color: #ffffff;
}

#softkey-left {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

#softkey-right {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

#softkey-center {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.settingsInputContainer {
  width: 100%;
  height: 76px;
  background-color: #ffffff;
}

.settingsInputLabel {
  position: relative;
  left: 10px;
  font-size: 15px;
  color: #323232;
  font-family: "Open Sans";
  font-weight: 400;
}

.settingsInputInternalContainer {
  position: relative;
  width: 100%;
  left: 10px;
}

.settingsInput {
  width: calc(100% - 20px);
  height: 36px;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Open Sans";
  border: 1px solid #aaaaaa;
}

.settingsButton {
  -moz-appearance: none;
  width: calc(100% - 20px);
  height: 36px;
  color: #323232;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  text-align: left;
}

.instructionsContainer {
  width: 100%;
  background-color: #ffffff;
  display: inline-block;
}

.playerStatusIndicator {
  left: 2px;
  top: 2px;
  position: relative;
}

#playerStatusContainer {
  width: 100%;
  position: absolute;
  top: calc(100% - 75px);
  background: rgba(184,184,184,0.7);
  visibility: hidden;
}

#playerBarContainer {
  position: relative;
}

#labelPlayerIndicatorWhite {
  right: 2px;
  top: 2px;
  position: absolute;
  font-family: "Open Sans";
  color: #ffffff;
}

#greyOutBox {
  width:100%;
  height:100%;
  position: absolute;
  left:0; 
  top:0;     
  z-index:10;
  background: rgba(184,184,184,0.7);
  visibility: hidden;
}

#volumeBarContainer {
  width: calc(100% - 20px);
  position: relative;
  left: 10px;
  right: 10px;
  top: 50%;
}

meter::-moz-meter-bar {
  -moz-appearance: none;
  background: none;
  border-radius: 3px;
  background-color: #1BC1C4;
}

.kaidiMeterBar {
  width: 100%;
  height: 5px;
}

.label {
  font-family: "Open Sans";
  color: #323232;
  text-align: left;
}

.labelCentered {
  font-family: "Open Sans";
  color: #323232;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  position: relative;
}

.labelWhite {
  font-family: "Open Sans";
  color: #ffffff;
  text-align: left;
}

.labelWhiteBold {
  font-family: "Open Sans";
  font-weight: 800;
  color: #ffffff;
  text-align: left;
}

.labelBlurred {
  font-family: "Open Sans";
  color: #A9A9A9;
  text-align: left;
}

.playerBody, .defaultBody {
  overflow: hidden;
}

.playerBody {
  background-color: #323232; 
}