.greyout {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; 
  top: 0;     
  z-index: 10;
  background: rgba(184,184,184,0.7);
}

.meter-bar {
  width: 100%;
  border-radius: 3px;
  height: 5px;
}

.volume-hud-hidden {
  top: -6px;
  transition-property: top;
  transition-duration: 1s;
}

.volume-hud-visible {
  top: 31px;
  transition-property: top;
  transition-duration: 1s;
}

.volume-hud {
  width: calc(100% - 40px);
  position: relative;
  left: 20px;
  right: 20px;
  background: none;
}