:root {
  --theme-color: #1BC1C4;
  --z-index-status-softkey: 10;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

meter::-moz-meter-bar {
  -moz-appearance: none;
  background: none;
  background-color: var(--theme-color);
}

.status-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 27px;
  background-color: var(--theme-color);
  z-index: var(--z-index-status-softkey);
}

.header-bar {
  width: 100%;
  height: 27px;
  background-color: var(--theme-color);
}

.header-bar #header-title {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.theme-content-light {
  background-color: #ffffff;
  color: #000000;
}

.theme-content-dark {
  background-color: #363636;
  color: #ffffff;
}

.content {
  position: fixed;
  top: 27px;
  bottom: 30px;
  width: 100%;
  height: calc(100% - 57px);
  overflow: auto;
}

.theme-softkeys-dark {
  background-color: #000000;
  color: #ffffff;
}

.theme-softkeys-light {
  background-color: #dadada;
  color: #000000;
}

.softkeys-bar {
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0px; 
  display: flex;
  align-items: center;
  padding: 0 5px;
  z-index: var(--z-index-status-softkey);
}


.softkeys-bar * {
  width: 33.3333333333%;
}

#softkey-left, #softkey-right {
  font-weight: 600;
  font-size: 14px;
}

#softkey-left {
  text-align: left;
}

#softkey-center {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

#softkey-right {
  text-align: right;
}