.theme-separator-light {
  background-color: #e6e6e6;
  color: #6a6a6a;
}

.theme-separator-dark {
  background-color: #6a6a6a;
  color: #ffffff;
}

.separator {
  height: 28px;
  width: 100%;
  line-height: 28px;
  padding-left: 10px;
}

.theme-settings-light {
  color: #000000;
}

.theme-settings-dark {
  color: #ffffff;
}

.settings-entry {
  width: 100%;
  height: 60px;
  outline: 0;
}

.settings-entry:focus, .settings-entry:focus button, .settings-entry:focus select{
  color: #ffffff;
}

.settings-entry:focus {
  background-color: var(--theme-color);
}

.settings-entry-label {
  width: calc(100% - 20px);
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.settings-entry button, .settings-entry select, #settings-entry-version{
  -moz-appearance: none;
  background: none;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}