.kaios-toast {
  position: fixed;
  background-color: #363636;
  width: 100%;
  min-height: 36px;
  color: #ffffff;
  text-align: center;
  word-wrap: break-word;
  opacity: 0;
  z-index: 99999;
  transition: opacity 0.25s, top 0.25s, bottom 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.25s, top 0.25s, bottom 0.25s;
  transition: transform 0.25s, opacity 0.25s, top 0.25s, bottom 0.25s, -webkit-transform 0.25s;
  box-sizing: border-box;
  max-width: 18rem;
}

.kaios-toast-content {
  padding: 8px
}

.kaios-toast-north {
  left: 50%;
  transform: translateX(-50%);
  top: -54px;
}
.kaios-toast-north.kaios-toast-shown {
  opacity: 1;
  top: 27px;
}

.kaios-toast-south {
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.kaios-toast-south.kaios-toast-shown {
  opacity: 1;
  bottom: 30px;
}

.kaios-toast-error {
  background-color: #ff3d3d;
  color: #fff;
}
.kaios-toast-success {
  background-color: #62a465;
  color: #fff;
}
.kaios-toast-warning {
  background-color: #ffb618;
  color: #fff;
}