.native-toast {
  position: fixed;
  background-color: #d3d3d3;
  width: 100%;
  line-height: 36px;
  color: #363636;
  text-align: center;
  opacity: 0;
  z-index: 99999;
  transition: opacity 0.25s, top 0.25s, bottom 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, opacity 0.25s, top 0.25s, bottom 0.25s;
  transition: transform 0.25s, opacity 0.25s, top 0.25s, bottom 0.25s, -webkit-transform 0.25s;
  box-sizing: border-box;
  max-width: 18rem;
}
.native-toast-north {
  left: 50%;
  transform: translateX(-50%);
  top: -54px;
}
.native-toast-north.native-toast-shown {
  opacity: 1;
  top: 27px;
}

.native-toast-south {
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.native-toast-south.native-toast-shown {
  opacity: 1;
  bottom: 30px;
}

.native-toast-center {
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -50px;
}
.native-toast-center.native-toast-shown {
  opacity: 1;
  bottom: 50%;
}

.native-toast-error {
  background-color: #ff3d3d;
  color: #fff;
}
.native-toast-success {
  background-color: #62a465;
  color: #fff;
}
.native-toast-warning {
  background-color: #ffb618;
  color: #fff;
}