.options-menu-container {
  display: none;
  z-index: var(--z-index-options);
  width: 100%;
  height: calc(100% - 30px);
  position: fixed;
  bottom: 30px;
  background-color: rgba(68, 66, 66, 0.7);
}

.options-menu {
  width: 100%;
  max-height: 80%;
  position: absolute;
  overflow: auto;
  bottom: 0;
}

.options-menu-title {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  height: 28px;
  line-height: 28px;
}

.theme-options-menu-title-light {
  background-color: #d8d8d8;
  color: #323232;
}

.theme-options-menu-title-dark {
  background-color: #272727;
  color: #ffffff
}

.options-menu-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.theme-options-menu-list-light {
  background-color: #ffffff;
  color: #000000;
}

.theme-options-menu-list-dark {
  background-color: #363636;
  color: #ffffff;
}

.options-menu-list div {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.options-menu-list div:focus {
  outline: 0;
  color: #fff;
  background-color: var(--theme-color);
}