.page-transition-blur-in {
  opacity: 0.1;
  transition-property: opacity;
  transition-duration: 0.7s;
}

.page-transition-blur-out {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.7s;
}

.page-transitions-disable {
  transition-duration: 0s;
  transition-property: none;
}